{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Initialisation de la partie</h1>
    {% for soldier in troops %}
        <p>{{ soldier.name }} = {{ soldier.strength }}</p>
    {% endfor %}
    <a href="/game/init">Initialiser</a>
{% endblock %}
{% block header %}
    <div class="header">
        <div class="container_score">
            <div class="castle">
                <span>Castle Score :</span>
            </div>
            <div class="player">
                <span>Player Score :</span>
            </div>
        </div>
        <div class="ennemy-card">
            <img src="/assets/images/Archer-adverse.png" class="img-card" alt="ennemy">
        </div>
        <div class="container_button">
            <input class="button" type="submit" value="Restart">
        </div>
    </div>
{% endblock %}
{% block gametable %}
    <div class="container-card">
        <div class="player-card">
            <img src="/assets/images/Archer.png" class="img-card" alt="archer">
        </div>
        <div class="player-card">
            <img src="/assets/images/Archer.png" class="img-card" alt="archer">
        </div>
        <div class="player-card">
            <img src="/assets/images/Archer.png" class="img-card" alt="archer">
        </div>
    </div>
{% endblock %}

